html {
    height: 100vh;
    max-height: 100vh;
}

@supports(padding:max(0px)) {
    body, header, footer {
        padding-left: min(0vmin, env(safe-area-inset-left));
        padding-right: min(0vmin, env(safe-area-inset-right));
    }
}

body {
    min-height: 100vh;
    margin: 0px;
    display: grid;
    grid-template: 
    "head main" auto / 1fr 9fr;
    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
    font-family: 'Literata';
}

header {
    background-color: #141313;
    padding: 30px 50px;
    color: #FFFFFF;
    display: grid;
    align-content: space-around;
    grid-area: head;
}

nav ul {
    list-style: none;
    padding: 0px;
}

ul li {
    padding: 10px 0px;
}

.generalmain {
    background-color: #FFFFFF;
    display: grid;
    place-items: center;
    grid-template: 
    "information headshot" auto / 1fr 1fr;
    grid-area: main;
}

.headshot {
    grid-area: headshot;
}

.more-information {
    grid-area: headshot;
    font-size: 2rem;
    padding-right: 3rem;
}

.greeting {
    font-style: italic;
}

.gradient-name {
    text-align: center;
}

.about-position {
    text-align: center;
}

.headshot {
    height: 50vh;
}

.headshot img {
    max-width: 100%;
    max-height: 100%;
}

#aboutInformation > * {
    margin: 5px;
}

.information {
    width: 50%;
    font-size: 1.5rem;
    grid-area: information;
}

.information h1 {
    font-size: 5rem;
    font-weight: lighter;
    margin: 0px;
    line-height: 4.5rem;
}

.information img {
    max-width: 100%;
    max-height: 100%;
}

#name {
    font-weight: bold;
}

#position, #location {
    font-style: italic;
    font-weight: bold;
}

#email-me {
    font-style: italic;
}

button {
    background-color: #141313;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
}

header img {
    width: 30%;
    background-color: #FFFFFF;
    border-radius: 50%;
}

a {
    text-decoration: none;
}

a:visited {
    color: #FFFFFF;
}

/* a:hover {
    text-decoration: line-through;
} */

.current {
    text-decoration: line-through;
}

.projectsmain {
    background-color: #FFFFFF;
    display: grid;
    place-items: center;
}

#projects {
    display: grid;
    grid-template: "projectone projecttwo" 1fr "projectthree projectfour" 1fr / 1fr 1fr;
    margin: 1vh 1vh;
}

#projects > * {
    margin: 1vh 1vh;
    max-width: 30vh;
    min-height: 30vh;
}

#project1 {
    grid-area: projectone;
}

#project2 {
    grid-area: projecttwo;
}

#project3 {
    grid-area: projectthree;
}

#project4 {
    grid-area: projectfour;
}

#contactform {
    background: linear-gradient(90deg, rgba(184,106,223,1) 0%, rgba(255,108,99,1) 35%, rgba(255,177,71,1) 100%);;
    height: 60vh;
    display: grid;
    padding: 40px 60px;
    grid-template-rows: 1fr 3fr;
    width: 80%;
}

#contactform h2 {
    color: #FFFFFF;
    font-size: 2rem;
}

form {
    display: grid;
    grid-template: "fname email" 1fr "message message" 1fr "button button" 1fr / 1fr 1fr;
}

input {
    background: transparent;
    border-width: 0 0 3px 0;
    color: #FFFFFF;
    padding: 10px 0px;
    width: 90%;
    font-size: 1rem;
}

label {
    color: #FFFFFF;
    font-size: 1rem;
}

#fullname {
    grid-area: fname;
}

#reply {
    grid-area: email;
}

#textMessage {
    grid-area: message;
}

#textMessage textarea {
    background: transparent;
    border-width: 0 0 3px 0;
    color: #FFFFFF;
    width: 95%;
    min-height: 40%;
    resize: none;
}

#textMessage label {
    display: block;
}

#submitbutton {
    grid-area: button;
}

#submitbutton button {
    padding: 20px 30px;
}

@media only screen and (max-width: 430px) {
    html {
        height: 100vh;
        max-height: 100vh;
    }

    body {
        min-height: 100vh;
        margin: 0px;
        display: grid;
        grid-template-rows: .5fr 3fr;
        grid-template-columns: 1fr;
        grid-template-areas: "head head" "main main";
    }

    header {
        background-color: #141313;
        color: #FFFFFF;
        grid-area: head;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "heading socials" "nav nav";
        padding: 1vh;
    }

    nav {
        margin-top: 0vh;
        grid-area: nav;
        display: flex;
        justify-content: center;
    }
    
    nav ul {
        list-style: none;
        padding: 0px;
        margin: 0;
    }
    
    ul li {
        padding: 5px 5px;
        display: inline-block;
    }

    h2 {
        grid-area: heading;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    main {
        background-color: #FFFFFF;
        display: grid;
        place-items: center;
        grid-template: 
        "information headshot" auto / 1fr 1fr;
        grid-area: main;
    }

    .headshot {
        height: 50vh;
        display: flex;
        align-items: center;
        justify-items: center;
        padding-right: 1vh;
    }
    
    .headshot img {
        max-width: 100%;
        max-height: 100%;
    }

    .more-information {
        grid-area: headshot;
        font-size: 1rem;
        padding-right: 1rem;
    }
    
    .information {
        width: 20vh;
        font-size: 1rem;
    }
    
    .information h1 {
        font-size: 2rem;
        font-weight: lighter;
        margin: 0px;
        line-height: 2.5rem;
    }
    
    #name {
        font-weight: bold;
    }
    
    #position, #location {
        font-style: italic;
        font-weight: bold;
    }
    
    #email-me {
        font-style: italic;
    }
    
    button {
        background-color: #141313;
        color: #FFFFFF;
        border: none;
        padding: 10px 20px;
    }

    #socials {
        display: flex;
        align-items: center;
        justify-content:space-evenly;
    }
    
    header img {
        width: 3vh;
        background-color: #FFFFFF;
        border-radius: 50%;
        grid-area: socials;
    }
}

@media only screen and (max-width: 1366px) {
    html {
        height: 100vh;
        max-height: 100vh;
    }
    
    nav ul {
        list-style: none;
        padding: 0px;
        margin: 0;
    }

    h2 {
        grid-area: heading;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .generalmain {
        background-color: #FFFFFF;
        display: grid;
        place-items: center;
        grid-template: 
        "information headshot" auto / 1fr 1fr;
        grid-area: main;
    }

    .headshot {
        height: 50vh;
        display: flex;
        align-items: center;
        justify-items: center;
        padding-right: 3vh;
    }
    
    .headshot img {
        max-width: 100%;
        max-height: 100%;
    }

    .more-information {
        grid-area: headshot;
        font-size: 1rem;
        padding-right: 2rem;
    }
    
    .information {
        width: 20vh;
        font-size: 1rem;
    }
    
    .information h1 {
        font-size: 2rem;
        font-weight: lighter;
        margin: 0px;
        line-height: 2.5rem;
    }
    
    #name {
        font-weight: bold;
    }
    
    #position, #location {
        font-style: italic;
        font-weight: bold;
    }
    
    #email-me {
        font-style: italic;
    }
    
    button {
        background-color: #141313;
        color: #FFFFFF;
        border: none;
        padding: 10px 20px;
    }

    #socials {
        display: flex;
        align-items: center;
        justify-content:space-evenly;
    }
    
    header img {
        width: 3vh;
        background-color: #FFFFFF;
        border-radius: 50%;
        grid-area: socials;
    }

    #aboutInformation h2 {
        font-size: 1rem;
    }

}

@media only screen and (max-width: 800px) {
    html {
        height: 100vh;
        max-height: 100vh;
    }
    
    nav ul {
        list-style: none;
        padding: 0px;
        margin: 0;
    }

    h2 {
        grid-area: heading;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .generalmain {
        background-color: #FFFFFF;
        display: grid;
        place-items: center;
        grid-template: 
        "information headshot" auto / 1fr 1fr;
        grid-area: main;
    }

    .headshot {
        height: 50vh;
        display: flex;
        align-items: center;
        justify-items: center;
        padding-right: 3vh;
    }
    
    .headshot img {
        max-width: 100%;
        max-height: 100%;
    }

    .more-information {
        grid-area: headshot;
        font-size: .8rem;
        padding-right: 2rem;
    }
    
    .information {
        width: 20vh;
        font-size: .8rem;
    }
    
    .information h1 {
        font-size: 2rem;
        font-weight: lighter;
        margin: 0px;
        line-height: 2.5rem;
    }
    
    #name {
        font-weight: bold;
    }
    
    #position, #location {
        font-style: italic;
        font-weight: bold;
    }
    
    #email-me {
        font-style: italic;
    }
    
    button {
        background-color: #141313;
        color: #FFFFFF;
        border: none;
        padding: 10px 20px;
    }

    #socials {
        display: flex;
        align-items: center;
        justify-content:space-evenly;
    }
    
    header img {
        width: 3vh;
        background-color: #FFFFFF;
        border-radius: 50%;
        grid-area: socials;
    }

    #aboutInformation h2 {
        font-size: 1rem;
    }

}

